<form class="new_matey" action="/show" method="post">
  <label>Pirate name:
    <input type="text" name="pirate[name]">
  </label>
  <label>Pirate weight:
    <input type="text" name="pirate[weight]">
  </label>
  <label>Pirate height:
    <input type="text" name="pirate[height]">
  </label>
  <label>Ship name:
    <input type="text" name="pirate[ships][][name]">
  </label>
  <label>Ship type:
    <input type="text" name="pirate[ships][][type]">
  </label>
  <label>Ship booty:
    <input type="text" name="pirate[ships][][booty]">
  </label>
  <label>Ship name:
    <input type="text" name="pirate[ships][][name]">
  </label>
  <label>Ship type:
    <input type="text" name="pirate[ships][][type]">
  </label>
  <label>Ship booty:
    <input type="text" name="pirate[ships][][booty]">
  </label>
  <input type="submit" id="submit">
</form>
