<form class="new_matey" action="/show" method="post">
  <label>
    <input type="text" name="pirate[name]">
  </label>
  <label>
    <input type="text" name="pirate[weight]">
  </label>
  <label>
    <input type="text" name="pirate[height]">
  </label>
  <label>
    <input type="text" name="ship[][name]">
  </label>
  <label>
    <input type="text" name="ship[][type]">
  </label>
  <label>
    <input type="text" name="ship[][booty]">
  </label>

</form>
