<form class="new_matey" action="/pirates" method="post">
  <label id="pirate_name">Pirate name:
    <input type="text" name="pirate[name]">
  </label>
  <label id="pirate_name">Pirate weight:
    <input type="text" name="pirate[weight]">
  </label>
  <label id="pirate_height">Pirate height:
    <input type="text" name="pirate[height]">
  </label>
  <label id="ship_name_1">Ship name:
    <input type="text" name="pirate[ships][][name]">
  </label>
  <label id="ship_type_1">Ship type:
    <input type="text" name="pirate[ships][][type]">
  </label>
  <label id="ship_booty_1">Ship booty:
    <input type="text" name="pirate[ships][][booty]">
  </label>
  <label id="ship_name_2">Ship name:
    <input type="text" name="pirate[ships][][name]">
  </label>
  <label id="ship_type_2">Ship type:
    <input type="text" name="pirate[ships][][type]">
  </label>
  <label id="ship_booty_2">Ship booty:
    <input type="text" name="pirate[ships][][booty]">
  </label>
  <input type="submit" id="submit">
</form>
