<form class="new_matey" action="/show" method="post">
  <p>Pirate Name:<input type="text" name="pirate_name" value=""></p>
  <p><input type="text" name="" value=""></p>
  <p><input type="text" name="" value=""></p>
  <p><input type="text" name="" value=""></p>
  <p><input type="text" name="" value=""></p>
  <p><input type="text" name="" value=""></p>
  <p><input type="text" name="" value=""></p>
</form>
